*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

body {
  overscroll-behavior-y: none;
}

/* Fix para 100dvh em browsers antigos */
:root {
  --vh: 1vh;
}
